<?xml version="1.0"?>
<config>
  <modules>
    <JoomlArt_JmColorSwatch>
      <version>0.1.0</version>
    </JoomlArt_JmColorSwatch>
  </modules>
  <frontend>
    <routers>
      <jmcolorswatch>
        <use>standard</use>
          <args>
            <module>JoomlArt_JmColorSwatch</module>
            <frontName>jmcolorswatch</frontName>
          </args>
      </jmcolorswatch>
    </routers>
		<layout>
		  <updates>
			<jmcolorswatch>
			  <file>jmcolorswatch.xml</file>
			</jmcolorswatch>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <jmcolorswatch>
        <class>JoomlArt_JmColorSwatch_Helper</class>
      </jmcolorswatch>
    </helpers>
	<blocks>
	  <jmcolorswatch>
		<class>JoomlArt_JmColorSwatch_Block</class>
	  </jmcolorswatch>
	</blocks>
  </global>
  <admin>
	<routers>
	  <jmcolorswatch>
	    <use>admin</use>
		<args>
		  <module>JoomlArt_JmColorSwatch</module>
		  <frontName>jmcolorswatch</frontName>
		</args>
	  </jmcolorswatch>
	</routers>
  </admin>
  <adminhtml>
	<menu>
            <joomlart>
                <title>Joomlart</title>
                <sort_order>100</sort_order>
                <children>
                    <jmcolorswatch>
                        <title>JM ColorSwatch</title>
                        <sort_order>9</sort_order>
                        <action>adminhtml/system_config/edit/section/joomlart_jmcolorswatch</action>
                    </jmcolorswatch>
                </children>
            </joomlart>
        </menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<jmcolorswatch translate="title" module="jmcolorswatch">
			  <title>JmColorSwatch</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <jmcolorswatchbackend translate="title">
			<title>Backend Page Title</title>
		  </jmcolorswatchbackend>
			  </children>
			</jmcolorswatch>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<jmcolorswatch>
		  <file>jmcolorswatch.xml</file>
		</jmcolorswatch>
	  </updates>
	</layout>
  </adminhtml>
</config> 