<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Opti>
			<version>1.6.0.9</version>
		</Fishpig_Opti>
	</modules>
	<global>
		<blocks>
			<opti>
				<class>Fishpig_Opti_Block</class>
			</opti>
		</blocks>
		<helpers>
			<opti>
				<class>Fishpig_Opti_Helper</class>
			</opti>
		</helpers>
		<models>
			<opti>
				<class>Fishpig_Opti_Model</class>
			</opti>
			<core>
				<rewrite>
					<layout_update>Fishpig_Opti_Model_Core_Layout_Update</layout_update>
				</rewrite>
			</core>
		</models>
		<resources>
			<opti_setup>
				<setup>
					<module>Fishpig_Opti</module>
				</setup>
			</opti_setup>
		</resources>
		<events>
			<controller_front_send_response_before>
				<observers>
					<opti>
						<type>singleton</type>
						<class>opti/observer</class>
						<method>minifyHtmlObserver</method>
					</opti>
				</observers>
			</controller_front_send_response_before>
			<controller_action_layout_render_before>
				<observers>
					<opti>
						<type>singleton</type>
						<class>opti/observer</class>
						<method>minifyJsCssObserver</method>
					</opti>
				</observers>
			</controller_action_layout_render_before>
		</events>
	</global>
	
	<frontend>
		<events>
			<controller_action_layout_generate_blocks_before>
				<observers>
					<opti>
						<type>singleton</type>
						<class>opti/observer</class>
						<method>mergeJsCssObserver</method>
					</opti>
				</observers>
			</controller_action_layout_generate_blocks_before>
		</events>
	</frontend>
	<default>
		<opti>
			<conditions>
				<enabled>1</enabled>
				<modules>attributeSplash,catalog,catalogsearch,cms,contacts,customer,newsletter,poll,review,sendfriend,splashpro,tag,wishlist,wordpress,wp_addon_cpt</modules>
			</conditions>
			<css>
				<minify>1</minify>
				<minify_hardcoded>1</minify_hardcoded>
			</css>
			<html>
				<minify>1</minify>
			</html>
			<js>
				<minify>1</minify>
				<minify_hardcoded>1</minify_hardcoded>
			</js>
		</opti>
	</default>
	<opti>
		<source_blocks>
			<head/>
		</source_blocks>
	</opti>
</config>
