<?xml version="1.0"?>
<config>
	<tabs>
		<fishpig>
			<label>FishPig</label>
			<sort_order>200</sort_order>
		</fishpig>
	</tabs>
    <sections>
        <opti>
            <label>Opti</label>
            <tab>fishpig</tab>
            <sort_order>901</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
            	<conditions>
            		<label><![CDATA[Settings]]></label>
            		<sort_order>1</sort_order>
            		<show_in_default>1</show_in_default>
            		<show_in_website>1</show_in_website>
            		<show_in_store>1</show_in_store>            		
            		<fields>
            			<enabled>
            				<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
            				<sort_order>1</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            			</enabled>
            			<modules>
            				<label>Allowed Modules</label>
            				<comment>Modules that minification can run on.</comment>
							<frontend_type>multiselect</frontend_type>
							<source_model>opti/system_config_source_module</source_model>
            				<sort_order>22</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            				<depends><enabled>1</enabled></depends>
            			</modules>
            		</fields>            	
            	</conditions>
            	<css>
            		<label><![CDATA[CSS]]></label>
            		<sort_order>6</sort_order>
            		<show_in_default>1</show_in_default>
            		<show_in_website>1</show_in_website>
            		<show_in_store>1</show_in_store>            		
            		<fields>
            			<minify>
            				<label>Minify</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
            				<sort_order>1</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            			</minify>
            			<minify_hardcoded>
            				<label>Minify Hardcoded CSS</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
            				<sort_order>6</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            			</minify_hardcoded>
            		</fields>
            	</css>
            	<html>
            		<label><![CDATA[HTML]]></label>
            		<sort_order>11</sort_order>
            		<show_in_default>1</show_in_default>
            		<show_in_website>1</show_in_website>
            		<show_in_store>1</show_in_store>            		
            		<fields>
            			<minify>
            				<label>Minify</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
            				<sort_order>1</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            			</minify>
            		</fields>
            	</html>            	
            	<js>
            		<label><![CDATA[JavaScript]]></label>
            		<sort_order>16</sort_order>
            		<show_in_default>1</show_in_default>
            		<show_in_website>1</show_in_website>
            		<show_in_store>1</show_in_store>            		
            		<fields>
            			<minify>
            				<label>Minify</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
            				<sort_order>1</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            			</minify>
            			<minify_hardcoded>
            				<label>Minify Hardcoded JS</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
            				<sort_order>6</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            			</minify_hardcoded>
            			<!--
            			<merge>
            				<label>Merge</label>
            				<comment>Disable default Magento merging for this to function</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
            				<sort_order>11</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            			</merge>
            			<merge_groups>
            				<label>Groups for Merging</label>
							<frontend_type>select</frontend_type>
							<frontend_model>opti/system_config_form_field_merge_groups</frontend_model>
							<backend_model>opti/system_config_backend_merge_groups</backend_model>
							<sort_order>16</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            				<depends><merge>1</merge></depends>
            			</merge_groups>
            			-->
            		</fields>
            	</js>
            </groups>
        </opti>
    </sections>
</config>