<?xml version="1.0"?>
<config>
    <modules>
        <AW_Giftcard>
            <version>1.0.9</version><platform>ce</platform>
        </AW_Giftcard>
    </modules>
    <global>
        <resources>
            <aw_giftcard_setup>
                <setup>
                    <module>AW_Giftcard</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </aw_giftcard_setup>
            <aw_giftcard_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aw_giftcard_write>
            <aw_giftcard_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aw_giftcard_read>
        </resources>
        <models>
            <aw_giftcard>
                <class>AW_Giftcard_Model</class>
                <resourceModel>aw_giftcard_mysql4</resourceModel>
            </aw_giftcard>
            <aw_giftcard_mysql4>
                <class>AW_Giftcard_Model_Mysql4</class>
                <entities>
                    <giftcard>
                        <table>aw_giftcard</table>
                    </giftcard>
                    <history>
                        <table>aw_giftcard_history</table>
                    </history>
                    <quote_giftcard>
                        <table>aw_giftcard_quote_totals</table>
                    </quote_giftcard>
                    <order_invoice_giftcard>
                        <table>aw_giftcard_invoice_totals</table>
                    </order_invoice_giftcard>
                    <order_creditmemo_giftcard>
                        <table>aw_giftcard_creditmemo_totals</table>
                    </order_creditmemo_giftcard>
                    <product_amount>
                        <table>aw_giftcard_product_amount</table>
                    </product_amount>
                    <emailqueue>
                        <table>aw_giftcard_email_queue</table>
                    </emailqueue>
                </entities>
            </aw_giftcard_mysql4>
        </models>
        <blocks>
            <aw_giftcard>
                <class>AW_Giftcard_Block</class>
            </aw_giftcard>
        </blocks>
        <models>
            <aw_giftcard>
                <class>AW_Giftcard_Model</class>
            </aw_giftcard>
        </models>
        <helpers>
            <aw_giftcard>
                <class>AW_Giftcard_Helper</class>
            </aw_giftcard>
        </helpers>
        <catalog>
            <product>
                <type>
                    <aw_giftcard translate="label" module="aw_giftcard">
                        <label>AW Gift Card</label>
                        <model>aw_giftcard/catalog_product_type_giftcard</model>
                        <price_model>aw_giftcard/catalog_product_price_giftcard</price_model>
                        <index_priority>50</index_priority>
                        <composite>0</composite>
                        <is_qty>1</is_qty>
                        <price_indexer>aw_giftcard/indexer_price</price_indexer>
                    </aw_giftcard>
                </type>
            </product>
        </catalog>
        <template>
            <email>
                <aw_giftcard_email_template translate="label" module="aw_giftcard">
                    <label>AW_Giftcard Email Template</label>
                    <file>aw_giftcard.html</file>
                    <type>html</type>
                </aw_giftcard_email_template>
            </email>
        </template>
        <events>
            <sales_order_save_before>
                <observers>
                    <aw_giftcard_sales_order_save_before>
                        <class>aw_giftcard/observer_totals</class>
                        <method>salesOrderSaveBefore</method>
                    </aw_giftcard_sales_order_save_before>
                </observers>
            </sales_order_save_before>
            <sales_order_save_after>
                <observers>
                    <aw_giftcard_sales_order_save_after>
                        <class>aw_giftcard/observer_giftcard</class>
                        <method>salesOrderSaveAfter</method>
                    </aw_giftcard_sales_order_save_after>
                </observers>
            </sales_order_save_after>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <aw_giftcard_sales_convert_quote_item_to_order_item>
                        <class>aw_giftcard/observer_giftcard</class>
                        <method>convertQuoteItemToOrderItem</method>
                    </aw_giftcard_sales_convert_quote_item_to_order_item>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <payment_method_is_active>
                <observers>
                    <aw_giftcard_payment_method_is_active>
                        <class>aw_giftcard/observer_totals</class>
                        <method>paymentMethodIsActive</method>
                    </aw_giftcard_payment_method_is_active>
                </observers>
            </payment_method_is_active>
            <sales_order_place_after>
                <observers>
                    <aw_giftcard_sales_order_place_after>
                        <class>aw_giftcard/observer_totals</class>
                        <method>salesOrderPlaceAfter</method>
                    </aw_giftcard_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <aw_giftcard_checkout_type_multishipping_create_orders_single>
                        <class>aw_giftcard/observer_totals</class>
                        <method>salesOrderPlaceAfter</method>
                    </aw_giftcard_checkout_type_multishipping_create_orders_single>
                </observers>
            </checkout_type_multishipping_create_orders_single>
            <googlecheckout_save_order_after>
                <observers>
                    <aw_giftcard_googlecheckout_save_order_after>
                        <class>aw_giftcard/observer_totals</class>
                        <method>salesOrderPlaceAfter</method>
                    </aw_giftcard_googlecheckout_save_order_after>
                </observers>
            </googlecheckout_save_order_after>
            <sales_order_load_after>
                <observers>
                    <aw_giftcard_sales_order_load_after>
                        <class>aw_giftcard/observer_totals</class>
                        <method>salesOrderLoadAfter</method>
                    </aw_giftcard_sales_order_load_after>
                </observers>
            </sales_order_load_after>
            <sales_order_invoice_load_after>
                <observers>
                    <aw_giftcard_sales_order_invoice_load_after>
                        <class>aw_giftcard/observer_totals</class>
                        <method>salesOrderInvoiceLoadAfter</method>
                    </aw_giftcard_sales_order_invoice_load_after>
                </observers>
            </sales_order_invoice_load_after>
            <sales_order_creditmemo_load_after>
                <observers>
                    <aw_giftcard_sales_order_creditmemo_load_after>
                        <class>aw_giftcard/observer_totals</class>
                        <method>salesOrderCreditmemoLoadAfter</method>
                    </aw_giftcard_sales_order_creditmemo_load_after>
                </observers>
            </sales_order_creditmemo_load_after>
            <sales_order_invoice_save_after>
                <observers>
                    <aw_giftcard_sales_order_invoice_save_after>
                        <class>aw_giftcard/observer_totals</class>
                        <method>salesOrderInvoiceSaveAfter</method>
                    </aw_giftcard_sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <aw_giftcard_sales_order_creditmemo_save_after>
                        <class>aw_giftcard/observer_totals</class>
                        <method>salesOrderCreditmemoSaveAfter</method>
                    </aw_giftcard_sales_order_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_after>
            <sales_order_creditmemo_refund>
                <observers>
                    <aw_giftcard_sales_order_creditmemo_refund>
                        <class>aw_giftcard/observer_totals</class>
                        <method>salesOrderCreditmemoRefund</method>
                    </aw_giftcard_sales_order_creditmemo_refund>
                    <aw_giftcard_product_sales_order_creditmemo_refund>
                        <class>aw_giftcard/observer_giftcard</class>
                        <method>salesOrderCreditmemoRefund</method>
                    </aw_giftcard_product_sales_order_creditmemo_refund>
                </observers>
            </sales_order_creditmemo_refund>
            <sales_order_item_cancel>
                <observers>
                    <aw_giftcard_sales_order_item_cancel>
                        <class>aw_giftcard/observer_giftcard</class>
                        <method>salesOrderItemCancel</method>
                    </aw_giftcard_sales_order_item_cancel>
                </observers>
            </sales_order_item_cancel>
            <paypal_prepare_line_items>
                <observers>
                    <aw_giftcard_paypal_prepare_line_items>
                        <class>aw_giftcard/observer_totals</class>
                        <method>paypalPrepareLineItems</method>
                    </aw_giftcard_paypal_prepare_line_items>
                </observers>
            </paypal_prepare_line_items>
            <sales_order_payment_cancel>
                <observers>
                    <aw_giftcard_order_cancel_after>
                        <class>aw_giftcard/observer_totals</class>
                        <method>orderPaymentCancel</method>
                    </aw_giftcard_order_cancel_after>
                </observers>
            </sales_order_payment_cancel>
        </events>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <aw_gc_type/>
                        <aw_gc_amounts/>
                        <aw_gc_allow_open_amount/>
                        <aw_gc_open_amount_min/>
                        <aw_gc_open_amount_max/>
                        <aw_gc_config_expire/>
                        <aw_gc_expire/>
                        <aw_gc_config_email_template/>
                        <aw_gc_email_template/>
                    </product_attributes>
                </item>
                <totals>
                    <aw_giftcard>
                        <class>aw_giftcard/sales_order_totals_quote</class>
                        <after>weee,discount,tax,tax_subtotal,grand_total,reward</after>
                        <before>customerbalance</before>
                        <renderer>aw_giftcard/frontend_checkout_cart_total</renderer>
                    </aw_giftcard>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <aw_giftcard>
                        <class>aw_giftcard/sales_order_totals_invoice</class>
                        <after>discount,tax,grand_total,reward,giftwrapping,aw_giftwrap</after>
                        <before>customerbalance</before>
                    </aw_giftcard>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <aw_giftcard>
                        <class>aw_giftcard/sales_order_totals_creditmemo</class>
                        <after>weee,discount,tax,grand_total,giftwrapping,aw_giftwrap,customerbalance</after>
                        <before>reward</before>
                    </aw_giftcard>
                </totals>
            </order_creditmemo>
        </sales>
        <pdf>
            <totals>
                <aw_giftcard translate="title">
                    <title>Gift Card</title>
                    <model>aw_giftcard/sales_total_pdf_giftcard</model>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>660</sort_order>
                </aw_giftcard>
            </totals>
        </pdf>
    </global>
    <admin>
        <routers>
            <aw_giftcard_admin>
                <use>admin</use>
                <args>
                    <module>AW_Giftcard</module>
                    <frontName>aw_giftcard_admin</frontName>
                </args>
            </aw_giftcard_admin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <aw_giftcard module="AW_Giftcard">
                    <file>aw_giftcard.xml</file>
                </aw_giftcard>
            </updates>
        </layout>
        <menu>
            <customer>
                <children>
                    <aw_giftcard>
                        <title>Gift Cards</title>
                        <sort_order>150</sort_order>
                        <children>
                            <manage module="aw_giftcard">
                                <title>Manage Gift Cards</title>
                                <sort_order>1</sort_order>
                                <action>aw_giftcard_admin/adminhtml_giftcard</action>
                            </manage>
                            <settings module="aw_giftcard">
                                <title>Settings</title>
                                <sort_order>2</sort_order>
                                <action>adminhtml/system_config/edit/section/aw_giftcard</action>
                            </settings>
                        </children>
                    </aw_giftcard>
                </children>
            </customer>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <customer>
                            <children>
                                <aw_giftcard translate="title" module="aw_giftcard">
                                    <title>Gift Cards</title>
                                    <sort_order>150</sort_order>
                                    <children>
                                        <manage translate="title">
                                            <title>Manage Gift Cards</title>
                                            <sort_order>1</sort_order>
                                            <action>aw_giftcard_admin/adminhtml_giftcard</action>
                                        </manage>
                                        <settings translate="title">
                                            <title>Settings</title>
                                            <sort_order>2</sort_order>
                                            <action>adminhtml/system_config/edit/section/aw_giftcard</action>
                                        </settings>
                                    </children>
                                </aw_giftcard>
                            </children>
                        </customer>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <aw_giftcard>
                                            <title>aheadWorks - Gift Card Section</title>
                                        </aw_giftcard>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <AW_Giftcard>
                    <files>
                        <default>AW_Giftcard.csv</default>
                    </files>
                </AW_Giftcard>
            </modules>
        </translate>
        <events>
            <adminhtml_catalog_product_edit_prepare_form>
                <observers>
                    <aw_giftcard_product_edit_prepare_form>
                        <class>aw_giftcard/observer_giftcard</class>
                        <method>productEditPrepareForm</method>
                    </aw_giftcard_product_edit_prepare_form>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
            <adminhtml_catalog_product_form_prepare_excluded_field_list>
                <observers>
                    <aw_giftcard_product_excluded_field_list>
                        <class>aw_giftcard/observer_giftcard</class>
                        <method>productExcludedFieldList</method>
                    </aw_giftcard_product_excluded_field_list>
                </observers>
            </adminhtml_catalog_product_form_prepare_excluded_field_list>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <aw_giftcard_sales_order_create_process_data>
                        <class>aw_giftcard/observer_totals</class>
                        <method>salesOrderCreateProcessData</method>
                    </aw_giftcard_sales_order_create_process_data>
                </observers>
            </adminhtml_sales_order_create_process_data>
        </events>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <aw_giftcard/>
                    </available_product_types>
                </create>
            </order>
        </sales>
    </adminhtml>
    <frontend>
        <routers>
            <aw_giftcard>
                <use>standard</use>
                <args>
                    <module>AW_Giftcard</module>
                    <frontName>awgiftcard</frontName>
                </args>
            </aw_giftcard>
        </routers>
        <product>
            <collection>
                <attributes>
                    <aw_gc_type/>
                    <aw_gc_amounts/>
                    <aw_gc_allow_open_amount/>
                    <aw_gc_open_amount_min/>
                    <aw_gc_open_amount_max/>
                    <aw_gc_config_expire/>
                    <aw_gc_expire/>
                </attributes>
            </collection>
        </product>
        <layout>
            <updates>
                <aw_giftcard module="AW_Giftcard">
                    <file>aw_giftcard.xml</file>
                </aw_giftcard>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <aw_giftcard_core_block_abstract_to_html_after>
                        <type>singleton</type>
                        <class>aw_giftcard/observer_totals</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </aw_giftcard_core_block_abstract_to_html_after>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <translate>
            <modules>
                <AW_Giftcard>
                    <files>
                        <default>AW_Giftcard.csv</default>
                    </files>
                </AW_Giftcard>
            </modules>
        </translate>
    </frontend>
    <default>
        <aw_giftcard>
            <general>
                <expire>0</expire>
                <allow_gift_message>1</allow_gift_message>
                <allow_order_item_status>9</allow_order_item_status>
                <allow_refund>0</allow_refund>
            </general>
            <coupon>
                <code_length>12</code_length>
                <code_format>ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789</code_format>
                <code_prefix></code_prefix>
                <code_suffix></code_suffix>
                <code_separator></code_separator>
                <code_dash></code_dash>
            </coupon>
            <email>
                <sender>general</sender>
                <template>aw_giftcard_email_template</template>
            </email>
        </aw_giftcard>
    </default>
    <crontab>
        <jobs>
            <aw_giftcard_update_states>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>aw_giftcard/cron::updateStates</model>
                </run>
            </aw_giftcard_update_states>

            <aw_giftcard_sent_email>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>aw_giftcard/cron::sendEmail</model>
                </run>
            </aw_giftcard_sent_email>
        </jobs>
    </crontab>
    <phpunit>
        <suite>
            <modules>
                <AW_Giftcard />
            </modules>
        </suite>
    </phpunit>
</config>
