<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Inic_Faq>
			<version>1.2.0</version>
		</Inic_Faq>
	</modules>

	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Inic_Faq before="Mage_Adminhtml">Inic_Faq_Adminhtml</Inic_Faq>
                    </modules>
                </args>
            </adminhtml>
        </routers>
	</admin>
	<adminhtml>
        <layout>
            <updates>
                <faq>
                    <file>inic/faq.xml</file>
                </faq>
            </updates>
        </layout>
    </adminhtml>
	<frontend>
		<routers>
			<faq>
				<use>standard</use>
				<args>
					<module>Inic_Faq</module>
					<frontName>faq</frontName>
				</args>
			</faq>
		</routers>
		<translate>
			<modules>
				<Inic_Faq>
					<files>
						<default>Inic_Faq.csv</default>
					</files>
				</Inic_Faq>
			</modules>
		</translate>
		<layout>
			<updates>
				<faq>
					<file>inic/faq.xml</file>
				</faq>
			</updates>
		</layout>
	</frontend>

	<global>
		<helpers>
			<faq>
				<class>Inic_Faq_Helper</class>
			</faq>
		</helpers>

		<blocks>
			<faq>
				<class>Inic_Faq_Block</class>
			</faq>
		</blocks>

		<models>
			<faq>
				<class>Inic_Faq_Model</class>
				<resourceModel>faq_mysql4</resourceModel>
			</faq>
			<faq_mysql4>
				<class>Inic_Faq_Model_Mysql4</class>
				<entities>
					<category>
						<table>inic_advance_faq_category</table>
					</category>
					<category_item>
						<table>inic_advance_faq_category_item</table>
					</category_item>
                    <category_store>
                        <table>inic_advance_faq_category_store</table>
                    </category_store>
					<faq>
						<table>inic_advance_faq</table>
					</faq>
					<faq_store>
						<table>inic_advance_faq_store</table>
					</faq_store>
				</entities>
			</faq_mysql4>
		</models>

		<resources>
			<faq_setup>
				<setup>
					<module>Inic_Faq</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</faq_setup>
			<faq_write>
				<connection>
					<use>core_write</use>
				</connection>
			</faq_write>
			<faq_read>
				<connection>
					<use>core_read</use>
				</connection>
			</faq_read>
		</resources>
	</global>

	<adminhtml>
		<translate>
			<modules>
				<Inic_Faq>
					<files>
						<default>Inic_Faq.csv</default>
					</files>
				</Inic_Faq>
			</modules>
		</translate>
	</adminhtml>
	<install>
		<translate>
			<modules>
				<Inic_Faq>
					<files>
						<default>Inic_Faq.csv</default>
					</files>
				</Inic_Faq>
			</modules>
		</translate>
	</install>
</config>
